.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem !important;
}

.landing-content-title {
  text-align: center;
  font-size: 4rem;
}

.landing-content-subtitle {
  text-align: center;
  font-size: 2rem;
  color: #8d8c8c;
}

.landing-content-counter {
  text-align: center;
  font-size: 12rem;
  width: 100%;
  padding: 2rem !important;
  position: relative;
  color: #8d8689;
}

.landing-content-counter span {
  position: relative;
  top: 35px;
  right: 25px;
}

.landing-content-mint {
  padding: 1rem 5rem !important;
  margin: 1rem 0 2rem 0 !important;
  font-size: 1.5rem;
  color: white;
  background: #302e2f;
  border-radius: 20px;
}

.landing-content-mint:hover {
  cursor: pointer;
}

.landing-content .disclaimer {
  font-size: 1.25rem;
  color: #878687;
}

.disabled-btn {
  cursor: not-allowed !important;
  pointer-events: all !important;
}
