.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 !important;
  position: relative;
  z-index: 2;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.footer-container p {
  font-size: 16px;
  line-height: 157.19%;
  text-align: center;
  color: #ffffff;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.footer-links a {
  font-size: 16px;
  line-height: 157.19%;
  color: #ffffff;
  text-decoration: none;
  padding: 0 1rem;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem !important;
  border-bottom: 1px solid #ffffff;
}

.footer-button {
  font-size: 5rem;
  color: #ffffff;
  text-decoration: none;
  padding: 0 1rem !important;
}

.copyright {
  padding-top: 1rem;
}
