.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem !important;
}

.about-content-title {
  text-align: center;
  font-size: 4rem;
}

.about-content-subtitle {
  text-align: center;
  font-size: 1.5rem;
  color: #8d8c8c;
}

.about-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-images-title {
  text-align: center;
  font-size: 4rem;
  color: #8d8c8c;
  margin-top: 4rem !important;
}

.about-images-cards {
  display: flex;
  width: 90%;
  margin-top: 2rem !important;
}

.about-images-card {
  display: flex;
  width: 35rem;
  height: 25rem;
  flex-direction: column;
  margin: 2rem !important;
}

.about-images-card img {
  width: 99%;
  height: 100%;
}

.about-images-card-title {
  text-align: center;
  font-size: 4rem;
}
